<!DOCTYPE html>
<html lang="en">

<head>
	<title>HMN - Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		/* Remove the navbar's default margin-bottom and rounded borders */
		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}

		/* Add a gray background color and some padding to the footer */
		footer {
			background-color: #f2f2f2;
			padding: 25px;
		}

		body {
			background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			background-position: center;
			background-size: cover;
			animation-name: bgAni;
			animation-duration: 5s;
			animation-iteration-count: 1;
		}

		@keyframes bgAni {
			0% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}

			20% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}

			22% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}

			24% {
				background-image: url("https://hddesktopwallpapers.in/wp-content/uploads/2015/09/lightning-wallpaper.jpg");
			}

			26% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}

			28% {
				background-image: url("https://hddesktopwallpapers.in/wp-content/uploads/2015/09/lightning-wallpaper.jpg");
			}

			30% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}

			100% {
				background-image: url("https://preview.redd.it/uwu5izpck7p01.jpg?width=960&crop=smart&auto=webp&s=869842b89a479e1bd6fa0d1d8551d8e1978bcb79");
			}
		}

		@keyframes titleAni {
			0% {
				opacity: 0;
			}

			20% {
				opacity: 1;
			}

			22% {
				opacity: 0;
			}

			24% {
				opacity: 1;
			}

			26% {
				opacity: 0;
			}

			28% {
				opacity: 1;
			}

			30% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}


		.title {
			animation-name: titleAni;
			animation-duration: 5s;
			animation-iteration-count: 1;
		}

		.hero {
			background-color: transparent;
		}

		.about-panel {
			background-color: rgba(211, 211, 211, 0.5);
		}
	</style>

	{{#each css}}
	<link rel="stylesheet" href="/css/{{this}}">
	{{/each}}

</head>

<body>
	{{{body}}}

	<footer class="container-fluid text-center">
		<p>Footer Text</p>
	</footer>
</body>