<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/about">Halloween Movie Night!</a>
    </div>


  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="active"><a href="/browse">Browse</a></li>
      <li><a href="/">Generate Your Night</a></li>
      <li><a href="/quiz">Take Quiz</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#">Favorites</a></li>

    </ul>
  </div>
  </div>
</nav>
<link rel="stylesheet" href="../public/assets/css/movie.css" />

<div class="main-header">
  <div class="inner">
    <h1 class="main-title">Have some ideas for movies? Search them up here!</h1>
    <form class="search-form">
      <label class="is-hidden" for="search">Search a title</label>
      <input type="search" name="search" id="search" placeholder="Search a Title...">


      <label class="is-hidden" for="year">Any Year</label>
      <input type="text" maxlength="4" name="year" id="year" placeholder="Year">

      <button type="submit" id="submit" class="search-button"><i class="material-icons icn-search">Search</i></button>
    </form>
  </div>
</div>

<div class="main-content clearfix">
  <ul id="movies" class="movie-list">

    <li class="desc centered">
      <i class="material-icons icn-movie">movie</i>
      Search movie titles and TV shows
    </li>

  </ul>
  <a href='/'><button>Back To Main Page</button></a>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>

jQuery(function($){
	//Initializing variables
	var $searchField = $("#search"),
		$spinner = $('<div class="spinner centered">'+
			'<div class="rect1"></div>'+
			'<div class="rect2"></div>'+
			'<div class="rect3"></div>'+
			'<div class="rect4"></div>'+
			'<div class="rect5"></div>'+
			'</div>'),
		omdbMovieURL = "http://www.omdbapi.com/?apikey=d907039c=";
	$('form').submit(function(e){
		e.preventDefault();

		
		var movieSearch = $searchField.val(), //Grabbing movie title search
		yearSearch = $('#year').val(),  //Grabbing year searched
		omdbMovieRequest = omdbMovieURL + encodeURIComponent(movieSearch) +"&y="+ encodeURIComponent(yearSearch), //encoding & formulate string
		moviesHTML = "",
		img = "";

		$('#movies').html($spinner);
		//logging the GET request string

		
		//the callback function to be called when ajax receives data
		
		function displayMovies(data) {
			if(data.Response === "True"){
				//Code for if ajax returned with information
				$.each(data.Search, function(i, movies){
					img = '<a href="http://www.imdb.com/title/'+movies.imdbID+
						'/"><img class="movie-poster" src="'+ movies.Poster +'"></a>';
					if(movies.Poster === "N/A"){
						img = '<a href="http://www.imdb.com/title/'+movies.imdbID+
							'/"><i class="material-icons poster-placeholder">crop_original</i></a>';
					}

					moviesHTML += '<li><div class="poster-wrap">';
					moviesHTML += img +
						'</div><span class="movie-title">' + movies.Title +
						'</span><span class="movie-year">' + movies.Year +
						'</span></li>'

				}); // end of each
			}
			//error cases
			else{
				if(data.Error === "Movie not found!"){
					//put error code for no found movies here
					setMoviesOnError("No movies found that match: "+movieSearch+".");
				}
				else if(data.Error === "Something went wrong."){
					//error code for something went wrong.
					setMoviesOnError("An error occurred in processing your request, please try again.");
				}
				else{
					//final statement for errors
					setMoviesOnError("Something unexpected occurred, please try again.");
				}
			}
			$('#movies').html(moviesHTML);
		}

		//invoking the ajax call method to get the json data from the omdb.
		$.getJSON(omdbMovieRequest, displayMovies).fail(
			//this is the callback function to be called when the ajax request fails.
			function(jqXHR){
			setMoviesOnError("An error occurred while connecting with the movie Server, please try to search again.");
			$('#movies').html(moviesHTML);

		}); //end fail function

		
		
		
		 
		function setMoviesOnError(str){
			moviesHTML = " <li class='no-movies centered'>" +
				"<i class='material-icons icon-help'>help_outline</i>"+ str +"</li>";
		}

	}); // end submit function
}); //end jquery function

</script>
</body>

</html>