<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/quiz.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/about">Halloween Movie Night!</a>
            </div>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/browse">Browse</a></li>
                <li class="active"><a href="/generate">Generate Your Night</a></li>
                <li><a href="/quiz">Take Quiz</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Favorites</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="wrapper">
        <header>
            <h1>Candy Generator</h1>
        </header>
        <div class="card">
            <div class="card-header">
                <h2>Generate Random Candy</h2>
            </div>
            <div class="card-body">
                <textarea readonly id="candy" placeholder="Your Random Candy" aria-label="Generated Candy"></textarea>
            </div>
            <div class="card-footer">
                <button id="generate" class="btn">Generate Candy!</button>
            </div>
            <a href='/'><button>Back To Main Page</button></a>
        </div>
    </div>

    <script src="../public/js/generateyournight.js"></script>
</body>

</html>