<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/about">Halloween Movie Night!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/quiz">Take Quiz</a></li>
        <li><a href="/public/generateyournight.html">Generate Your Night</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/results"> <span class="glyphicon glyphicon-user"></span> User</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron hero">
  <div class="container text-center">
    <br><br><br><br>
    <h1 class="title">Welcome!</h1>
    <a href="/quiz">
      <div class="btn btn-lg btn-warning">Get started! Take the movie quiz here.</div>
    </a>
    <br><br>
    <h3>Countdown to Halloween!</h3>
    <div class="mt4 tc fw1 f2 near-white sans-serif center" id="clockdiv">
  <div class="pa2 br3 bg-orange dib">
    <span class="pa3 br3 bg-gold dib days"></span>
    <div class="pt1 f5 fw1">Days</div>
  </div>
  <div class="pa2 br3 bg-orange dib">
    <span class="pa3 br3 bg-gold dib hours"></span>
    <div class="pt1 f5 fw1">Hours</div>
  </div>
  <div class="pa2 br3 bg-orange dib">
    <span class="pa3 br3 bg-gold dib minutes"></span>
    <div class="pt1 f5 fw1">Minutes</div>
  </div>
  <div class="pa2 br3 bg-orange dib">
    <span class="pa3 br3 bg-gold dib seconds"></span>
    <div class="pt1 f5 fw1">Seconds</div>
  </div>
</div>
    <br><br>
  </div>
</div>

<div class="container-fluid bg-3 text-center popularMovies">
  <h3>Iconic Scary Movies</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>The Texas Chain Saw Massacre (1974)</p>
      <img src="../public/assets/images/a-nightmare-on-elm-street.jpg" class="img-responsive" style="width:100%"
        alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Halloween (1978)</p>
      <img src="../public/assets/images/halloween.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>The Shining (1980)</p>
      <img src="../public/assets/images/the-shining.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>A Nightmare on Elm Street (1984)</p>
      <img src="../public/assets/images/a-nightmare-on-elm-street.jpg" class="img-responsive" style="width:100%"
        alt="Image">
    </div>
  </div>
</div><br>