<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/about">Halloween Movie Night!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/browse">Browse</a></li>
        <li class="active"><a href="/quiz">Take Quiz</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
=======
        <li><a href="/public/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
>>>>>>> 70cb1243e8d00a1177c842cc0d1d090be3f4f240
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <br><br><br><br>
    <h1>Halloween Movie Night!</h1>
    <div class="btn btn-warning btn-lg">Take Quiz</div>
    <br><br><br><br>
  </div>
</div>