<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/about">Halloween Movie Night!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/browse">Browse</a></li>
        <li class="active"><a href="/quiz">Take Quiz</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="/results"> <span class="glyphicon glyphicon-user"></span> User</a></li>

      </ul>
    </div>
  </div>
</nav>

<link href="./assets/css/quiz.css" rel="stylesheet">
<script defer src="./js/quiz.js"></script>

<div class="jumbotron">
  <div class="row container-fluid" id="quizChallengePage">
    <h1 id="start">Halloween Themed Quiz!</h1>
    <p id="explanation">Show us your knowledge in Halloween lore with this short fun spooky quiz! When the background
      turns green, then you got the question correct. If the background turns red, then you got the question incorrect.
    </p>
    <div id="button"></div>
      <div class="container">
        <div id="question-container" class="hide">
          <div id="question">Question</div>
          <div id="answer-buttons" class="btn-grid">
            <button class="btn">Answer 1</button>
            <button class="btn">Answer 2</button>
            <button class="btn">Answer 3</button>
            <button class="btn">Answer 4</button>
          </div>
        </div>
        <div class="controls">
          <button id="start-btn" class="start-btn btn">Start</button>
          <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
      </div>
      <a href='/'><button>Back To Main Page</button></a>
      <a href='/results'><button>Results</button></a>
</div>
</div>
