<<<<<<< HEAD
h1 {
    color: orange;
}

p {
    color: orange;
}

.hero {
    background-color: orange;  
}
=======
#content {
  background-image: linear-gradient(grey, black);
}

#footer {
  background-color: #cf0707;
  padding: 25px;
}
>>>>>>> 70cb1243e8d00a1177c842cc0d1d090be3f4f240
